    <footer id="footer" class="dark">
        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">
            <div class="container clearfix">
                <div class="col_half">
                    <img src="{{ "images/restheart-footer.png" }}" alt="" class="footer-logo">
                    Copyrights &copy; 2018 RestHeart.
                </div>
                <div class="col_half col_last tright">
                    <div class="copyrights-menu copyright-links fright clearfix">
                        <a href="#">Home</a>/<a href="#">Learn</a>/<a href="#">Try</a>/<a href="#">Portfolio</a>/<a href="#">FAQs</a>/
                    </div>
                    <br/>
                    <div class="clearfix fright" style="width: 100%; display: flex; justify-content: flex-end;">
                        <a href="#" class="social-icon si-small si-borderless nobottommargin si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="#" class="social-icon si-small si-borderless nobottommargin si-github">
                                <i class="icon-github"></i>
                                <i class="icon-github"></i>
                        </a>
                        <a href="#" class="social-icon si-small si-borderless nobottommargin si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div><!-- #copyrights end -->
    </footer><!-- #footer end -->
